extends /layout/jade/default

block head
  title Spring Boot :: Web Template Engines
block body
  .jumbotron
    h1 Jade4J Template Engine
  .panel.panel-primary
    .panel-body
      p
        a(href='http://jade-lang.com') Jade
        |  is a templating language that focuses on terseness of code and fast output generation.
        |  It was originally developed for Node.js, a server-side JavaScript engine.  Due to its
        |  focus on brevity and performance, it has been implemented in other programming languages.
        a(href='https://github.com/neuland/jade4j') Jade4J
        |  is an implementation of Jade in Java.
      p
        | This page has been generated using Jade4J.
    .panel-footer
      | See the
      a(href='https://github.com/manish-in-java/spring-boot-sample/tree/master/src/main/resources/templates/page/jade/template/template.jade') template file
      |  for this page.
